button.angry-button {
  width: 95px;
  border-radius: 0;
  background: rgba(239, 255, 0, 0.45);
  padding: 3% 6%;
  // margin: 10px 0;
  color: #F27050;
  font-family: "Raleway";
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 25px;
  border: none;
  // margin-bottom: 75px;
  position: absolute;
  z-index: 2;
  top: 246px;
  left: 42px;
}
