@import url(https://fonts.googleapis.com/css?family=Rock+Salt);

.outter-container-friendship{
  text-align: center;
  color: blue;
}

.mission-statement{
  text-align: center;
}

.rock-salt-font {
  font-family: 'Rock Salt', cursive;
  line-height: 150%
}

.centered-text {
  text-align: center;
}
