<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="shortcut icon" type="image/x-icon" href="images/favicon.ico"/>
  <link rel="stylesheet" type="text/css" href="/main.css">

  <link rel="stylesheet" href="https://s.mlcdn.co/animate.css">

  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

  <script type="text/javascript" async="async" defer="defer" src="application.js"></script>

  <meta name="viewport" content="width=device-width, initial-scale=1">

</head>

<body>

  <!-- codepen stuff -->

  <section>
    <div class="container-fluid">
      <div class="row">
        <div class="animated fadeInLeft col-md-6 col-sm-6 col-xs-12 balloon">
        </div>
        <div class="col-md-5 col-sm-5 col-xs-12">
          <h1 class="animated fadeInRight"
>Ego Boost.</h1>
          <div class="max-width">
            <h2 class="animated slideInUp">We're here to help you feel good about yourself.</h2>
            <p></p>
            <a href="/pages/complimentGenerator.html" class="button" role="button">
              This Way To Compliments!
            </a>
          </div>
        </div>
      </div>
    </div>
  </section>
  <div class="border-fixed">
  </div>
</body>
</html>
