<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" type="image/x-icon" href="images/favicon.ico"/>
    <link rel="stylesheet" type="text/css" href="/main.css">

    <link href="//cdnjs.cloudflare.com/ajax/libs/animate.css/3.2.3/animate.min.css">

    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

    <script type="text/javascript" async="async" defer="defer" src="application.js"></script>

    <meta name="viewport" content="width=device-width, initial-scale=1">

  </head>

  <body>
    <header>
      <div class="friendly-background-color">
        <h1 class="quicksand-font container center">Couldn't You Use An Ego Boost Right Now?</h1>
      </div
    </header>
    <main>
      <div class="">
        <a href="/pages/complimentGenerator.html">This Way To Compliments!</a>
      </div>
    </main>
    <footer></footer>
  </body>
</html>
